name: pull-request.yml
on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  create-prerelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - name: Configure git identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: npm version prerelease --preid=${{ github.triggering_actor }}
      - run: git push

  publish-prerelease:
    needs: create-prerelease
    uses: ./.github/workflows/npm-publish.yml
    with:
      is_prerelease: true
  #test
